:root {
  --text-color: #757575;
  --tittle-text-color: #212121;
  --alt-text-color: #2196f3;
  --background-color: #ffffff;
  --alt-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --primal-margin: 94px;
  --flex-primal-margin: 30px;
}
body {
  /* margin-left: auto;
  margin-right: auto;
  max-width: 1600px; */
  min-width: 1200px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

section.section {
  padding-top: var(--primal-margin);
  padding-bottom: var(--primal-margin);
}

.list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.center {
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* SOCIAL-LINK */

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.futer-box > a,
.team-box > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: inherit;
}

/* **Header** */

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  color: #000000;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.main-nav > .logo.link {
  margin-right: 93px;
}
.logo-alt {
  color: var(--alt-text-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header .main-nav {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}
.nav-item .header-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header .nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation .link.current {
  position: relative;
  color: var(--alt-text-color);
}
.header-navigation .link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--alt-text-color);
}

.header-navigation .link {
  color: var(--tittle-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}
.header-contacts .header-link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-link:focus,
.header .header-link:hover {
  color: var(--alt-text-color);
}
.header {
  border-bottom: 1px solid #ececec;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

/* ** Main ** */

.section-title,
.title {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  color: var(--tittle-text-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* HERO */

.hero {
  /* width: 1600px;
  padding: 200px 452px; */

  background-color: var(--dark-background-color);
  text-align: center;
}
.hero.section {
  padding-bottom: 0px;
  padding-top: 0px;
}
.hero-title {
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
  min-width: 696px;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--background-color);
  background: var(--alt-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover {
  color: var(--tittle-text-color);
  background: var(--alt-background-color);
}
.hero .bg-image {
  padding-bottom: 200px;
  padding-top: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}

/* Features */

.features-title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-description {
  line-height: 1.71;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: calc((100% - 3 * var(--flex-primal-margin)) / 4);
}
.features-box {
  padding: 25px 100px;
  background: var(--alt-background-color);
  border-radius: 4px;
  margin-bottom: var(--flex-primal-margin);
}
.features-icon {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit; */
  height: 70px;
  width: 70px;
}
/* .features-item::before {
  content: "";
  margin-bottom: var(--flex-primal-margin);
  height: 120px;
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}
.features-item:first-child::before {
  background-image: url(../images/svg/antenna.svg);
}
.features-item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}
.features-item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}
.features-item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
} */
/* .features-item:not(:last-child) {
  margin-right: 30px;
}  */

/* Works */

.section.works {
  padding-top: 0;
}
.works-title,
.regular-title {
  margin-bottom: 50px;
}
.works-list {
  display: flex;
  justify-content: space-between;
}
.works-item {
  position: relative;
  /* width: calc((100% - 60 px) / 3); */
}
/* .works-item + .works-item {
  margin-left: 30px;
} */
.works-item .works-description {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* .works-item > img {
  display: block;
} */

/* Team */

.team {
  background-color: var(--alt-background-color);
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-image {
  margin-bottom: 30px;
}
.team .section-title {
  margin-bottom: 50px;
}

.team .team-item {
  /* width: calc((100% - 90px) / 4); */
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

/* .team .team-item:not(:last-child) {
  margin-right: 30px;
} */

.team-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 32px;
  padding-left: 32px;
}
.team-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box:hover,
.team-box:focus {
  background-color: var(--alt-text-color);
  color: var(--background-color);
}
/* .team-icon:hover,
.team-icon:focus {
  fill: currentColor
} */
.team-social .team-box + .team-box {
  margin-left: 10px;
}

/* REGULAR */

.regular-list {
  display: flex;
  justify-content: space-between;
}
.regular-box {
  width: 170px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-box:hover,
.regular-box:focus {
  border-color: var(--alt-text-color);
  color: var(--alt-text-color);
}
.regular-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.regular-item a {
  color: inherit;
}

/* ** Portfolio Main ** */

.examples-button {
  padding: 6px 22px;
  color: var(--tittle-text-color);
  background-color: var(--alt-background-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-button:hover,
.examples-button:focus {
  color: var(--background-color);
  background-color: var(--alt-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples .title {
  /* padding-left: 24px; */
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-type {
  /* padding-left: 24px; */
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* .example-images {
  display: block;
} */
/* .example-cards li {
  padding-bottom: 20px;
} */
.example-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.example-item:hover,
.example-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .example-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--flex-primal-margin));
  margin-right: calc(-1 * var(--flex-primal-margin));
}
.example-cards > .example-item {
  flex-basis: calc(100% / 3 - var(--flex-primal-margin));
  margin-right: var(--flex-primal-margin);
  margin-bottom: var(--flex-primal-margin);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-overley {
  position: relative;
  overflow: hidden;
}

.example-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
  /* opacity: 1; */
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-item:hover .example-overley,
.example-item:focus .example-overley {
  transform: translateY(0);
}

/* Если прятать через опасити  */

/* .example-item:hover .example-overley,
.example-item:focus .example-overley {
  opacity: 1;
} */
/* .examples .example-item {
  width: calc((100% - 60px) / 3);
}
.examples .example-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.examples .example-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.examle-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* ** Footer ** */

.down {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}
.down .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.down .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--background-color);
}
.address-links .link {
  font-style: normal;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-links .map-link.link {
  margin-bottom: 9px;
  color: var(--background-color);
}
.address-links .link:hover,
.address-links .link:focus {
  color: var(--alt-text-color);
}
.address-links li:nth-child(2) {
  margin-bottom: 9px;
}

.conect-box {
  margin-top: 9px;
}
.conect {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.futer-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.futer-box {
  border-radius: 50%;
  color: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.futer-box:hover,
.futer-box:focus {
  background-color: var(--alt-text-color);
}

/* .team-icon:hover,
.team-icon:focus {
  fill: currentColor
} */
.futer-social .futer-box + .futer-box {
  margin-left: 10px;
}

.subscribe {
  margin-top: 9px;
}
.subscribe-call {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--background-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
}

.subscribe-form input {
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: var(--alt-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form input:focus {
  border-color: var(--alt-text-color);
}

.subscribe-form input::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  background: var(--alt-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--background-color);
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* MODAL */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  height: 581px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.escape-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: var(--background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    /* , border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) */;
}

.escape-modal > svg {
  fill: currentColor;
  width: 11px;
  height: 11px;
}
.escape-modal:hover {
  /* border-color: var(--alt-text-color); */
  color: var(--alt-text-color);
}

.recall-tell {
  display: block;
  margin-bottom: 12px;
  color: var(--tittle-text-color);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.form-field + .form-field {
  margin-top: 10px;
}
.form-field input {
  height: 40px;
  padding-left: 42px;
}
.form-field input:focus ~ label,
.form-field textarea:focus ~ label {
  color: var(--alt-text-color);
}

.form-field input:focus,
.form-field textarea:focus {
  border-color: var(--alt-text-color);
  outline: none;
}
.form-field textarea:focus::placeholder {
  color: var(--alt-text-color);
}
.form-field textarea,
.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
}
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field .icon-form {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  color: var(--tittle-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:focus + .icon-form {
  fill: var(--alt-text-color);
}

.form-agreement {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}
.form-agreement > input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-agreement label {
  display: flex;
  align-items: center;
  line-height: 1.71;
}

.form-agreement a {
  color: var(--alt-text-color);
  margin-left: 5px;
}
/* .form-agreement use {
  width: 16px;
  height: 15px;
} */

.form-agreement .icon-form {
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--tittle-text-color);
  border-radius: 4px;
  fill: var(--background-color);
  transition: border-width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement input:checked + label .icon-form {
  background-color: var(--alt-text-color);
  border-width: 0;
  border-color: var(--alt-text-color);
}

.modal-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  color: var(--background-color);
  background: var(--alt-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}
